<!DOCTYPE html>
<html>
    <head>
        <title>New Restaurant</title> 
    </head>
    <body>
      <h1>New Restaurant</h1>
      <form class = 'inputBox' action ='http://localhost:8099/createRestForm' method='POST'> 
        Name:<input type='text'    name='name' id ='name'  ></br></br>
        Cuisine:<input type='text'    name='cuisine' id ='cuisine'  ></br></br>
        Street:<input type='text'    name='street' id ='name'  ></br></br>
        Building:<input type='text'    name='building' id ='name'  ></br></br>
        Zipcode:<input type='text'    name='zipcode' id ='name'  ></br></br>
        
        <input type='submit'>
      </form>
        

        
     
    </body>
</html>
