<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/loginStyle.css" type='text/css'>  
        
    </head>
    <body>
        <form class = 'inputBox' action ='http://localhost:8099/login' method='POST'> 
        <h1>Login</h1>
        <input type='text'    name='userID' id ='userID'placeholder='Name'>
        <input type='password'name='userPW' id='userPW' placeholder='Password'>
        <input type='submit'  value='Login'></button>
        </form>
     
    </body>
</html>